#simulation-wrapper {
  background: white;
  color: black;
  padding: 20px;
}

#simulation-wrapper p {
  font-size: 12px;
  text-align: left;
  margin-right: 30px;
}

#simulation-wrapper .subhead {
  font-size: 14px;
  text-align: left;
  margin: auto;
  max-width: 750px;
}

#simulation-wrapper .sans {
  font-family: sans-serif;
  vertical-align: middle;
}

#graphs-wrapper {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  max-width: 95vw;
}

#mobility-wrapper {
  display: inline-block;
  width: 500px;
  max-width: 95vw;
}

#epicurves-wrapper {
  display: inline-block;
  width: 500px;
  max-width: 95vw;
}

#options-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  text-align: left;
  max-width: 250px;
}

#options-wrapper h6 {
  margin-bottom: 15px;
}

#options-wrapper label {
  display: block;
}

#options-wrapper input[type="checkbox"] {
  margin-right: 5px;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: #ccc;
}

svg.overflow {
  width: 600px;
}
svg {
  max-width: 90vw;
}

.scenario-description {
  font-weight: bold;
  color: red;
  font-size: 14px;
}

.scenario-description .scenario {
  color: black;
}

#pois-wrapper {
  margin-bottom: 20px;
  max-width: 95vw;
}

.poi-wrapper {
  position: relative;
  height: 340px;
  width: 550px;
  max-width: 95vw;
  overflow: scroll;
  transition: height 0.2s;
}

.poi-wrapper h6 {
  text-align: left;
  margin: 3px auto 0 30px;
  margin-left: 30px;
  margin-bottom: 0;
  font-size: 15px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
}

.poi-wrapper.closed {
  height: 20px;
  overflow: hidden;
}

.poi-wrapper .wrapper-toggle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #a60;
  color: #a60;
  background: #fedcba;
  border-radius: 10px;
  cursor: pointer;
  font-size: 19px;
  line-height: 13px;
  font-family: sans-serif;
  transform: rotate(135deg);
  transition: transform 0.2s;
}

.poi-wrapper.closed .wrapper-toggle {
  transform: rotate(0);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
}

.switch .label-text {
  display: block;
  position: absolute;
  left: 70px;
  top: 7px;
  width: 220px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #76d376;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-image: url(/images/stop-and-go@2x.png);
  background-size: 60px;
  background-position: left;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #efabab;
}

input:focus + .slider {
  box-shadow: 0 0 1px #efabab;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-position: right;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#msa-tabs {
  display: inline-block;
  border: 1px solid #33f;
  border-radius: 5px;
  overflow: hidden;
  margin: 15px 0;
  font-family: sans-serif;
  vertical-align: middle;
}

.tab {
  border-left: none;
  margin: 0;
}

.tab + .tab {
  border-left: 1px solid #33f;
}

.tab .label-text {
  display: inline-block;
  padding: 5px 10px;
  background: #eef;
  color: #00f;
  transition: 0.2s;
  font-weight: normal;
}

.tab input:checked + .label-text {
  background: #33f;
  color: #fff;
}

.tab input {
  opacity: 0;
  width: 0;
  height: 0;
}

