.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust as needed */

  
}

.hero::after {
  content: "";
  background: url("../images/d2pd3-banner.png"); /* Adjust as needed */
  background-size: cover;
  opacity: 0.8; /* Adjust as needed */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.title {
  font-size: 2.75em; /* Adjust as needed */
  text-align: center;
  color: whitesmoke;
}

.paperLink { 
  font-size: 2.25em; 
  text-align: center;
  
  color: whitesmoke!important;
  

}

.paperLink a{ 
  color: inherit!important;
  text-decoration: underline!important;
  padding-left: 30px; 
  padding-right: 30px;

}

.heroLinks { 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
}

.paperLink:hover { 
  transform: scale(1.07);
  color: white; 
  transition: 0.3s
}

.bannerContainer { 
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, transparent, rgba(32,32,34,0.97), transparent);
  border-radius: 1px;
  padding-top: 30px; 
  padding-bottom: 30px;
  width: 700px;
}






.banner { 
  flex: 0 0 80%;
  justify-content: center;
  align-items: center;
  height: 300px;
}

a:link { text-decoration: none; }



a:hover { 
  
  
}


a:active { text-decoration: none; }